<div class="main">
    <h1>Choses à faire</h1>
    <div class="addItem">
      <input [(ngModel)] = "newItem" type="text" placeholder="Ajouter" class="addText">
      <button (click) = "addItem()" >Add</button>
    </div>
    <ul>
      <li *ngFor = "let i of items; let ind = index">{{i}}
        <span (click) = "removeItem(ind)">x</span>    
      </li>
    </ul>
  </div>